<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ name }}'s Watchlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="icon" href="{{ url_for('static', filename='logo.bmp' )}}">
</head>
<body>
    <h2>
        <img alt="logo" class="logo" src="{{ url_for('static', filename='logo.gif') }}"><br>
        <div class="title">豪园文件管理</div>
    </h2>
    <p>{{ movies|length }} Titles</p>
    <ul class="movie-list">
        {% for movie in movies %}
        <li>
            {{ movie.title }} - {{ movie.year }}
        </li>
        {% endfor %}
    </ul>
    <img class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" alt="">
    <footer>
        <small>&copy; 2020 <a href="http://howvin.com">Howvin</a></small>
    </footer>
</body>
</html>